# This is a comment, to show how #-prefixed lines are ignored.
# It is possible to specify requirements as plain names.

# for python-microscopy we generally require the latest version
python-microscopy
statsmodels
roifile
